@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  cursor: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a,
button,
input,
textarea {
  cursor: none;
}